.main1{
    background-color: rgb(248, 250, 250);
    margin:0px;
    padding:0px;
}

.content-1{
   /*padding-top :50px;*/
   margin-top:80px;
   height: 600px;
   background-color: white;
   border: .5px solid #5A9693;
   box-shadow: 5px 5px #d6d2d2;
   margin-left: 10px;
   margin-right: 10px;
   padding:0px;
}

.navbar .navbar-brand{
    color: white !important;
   
}


.bg-custom { 
    /* background-color: #3D96C5; 
    height: 60px; */
    color: white;
    border-bottom: 1px solid #5A9693;
}

.btn-outline-custom :hover{
    border: .5px solid #5A9693;
    


}

#navbarTogglerDemo03 li a{
    color: #5A9693;
    margin-left: 25px;
    margin-right: 25px;
} 


#navbarTogglerDemo03{
    margin-left: 50px;
}



/* info-box */
#info-box{
    height:520px;
    width: 500px;
    padding-right:0px;
    float: left;
}

.info-content{
    margin-left:63px;
    margin-top:63px;
    color: rgb(95, 88, 88);
    font-family: "Source Sans Pro"

}

.info-content h5{
    margin-bottom: 20px;
    color: black;
    font-family: "Source Sans Pro"

}

.para-input p{
    color: rgb(146, 139, 139);
    font-family: "Source Sans Pro";
    margin-top: 8px;
    padding-left: 5px;
}
/*symptom-box*/

#symptom-box{
    height:420px;
    width: 500px;
    padding-right:0px;
    float: left;
}
.symptom-input{
    padding-top: 140px;
    padding-left: 80px; 
    /* width: 500px; */
    margin-right:40px
   
   
}

.symptom-input input{
    font-size: 25px;
    height: 50px;
    width: 350px;
    
} 
.symptom-input label{
    width: 350px;
    font-size: 23px;

    
} 

#symptom-output{
   height: 450px;
    width: 450px;
    /* border:.5px solid #5A9693; */
    /* margin-right: 60px; */
    margin-left: 140px;
   padding-top:0px;
   margin-top: 25px;
    float: right;
    background-color: #deeae9;
    box-shadow: 5px 5px #e6e4e4;
    border-radius: 5px;
    
}


 .symptom-display-box h5{
     padding-left:45px;
     padding-top:65px;  
     text-align: left;
    
} 
/*position the continue button*/
#next-1{
    padding-top:120px;
    padding-left:150px;
}

.next-btn{
    position: fixed;
    margin-top: 300px;
    float: right;
    margin-left:320px;
    font-size: 20px;
    
    
}

/* factors-input */

.factors-input{
    padding-top: 18px;
   margin-left: 80px;  
    width: 83%;
    margin-right:30px;
   
   
}

#factors-box{
    height:300px;
    /* width: 300px; */
    padding-right:0px;
    float: left;
    padding-top:0px;
}
.addBtn {
    padding: 12px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myFactors {
    /* border: none; */
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* journal-notes */
  .journal-notes{
      margin-top:150px;
      padding-left:80px;
      position: relative;
   
  }

  