
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
// .symptom-card{
//     // justify-content: space-around;
//     // display: flex;
    
    
// }

.card1{
margin-top: 15px;
}
.box-right1{
    margin-top: 15px;
    }

.symptomsHeading1{
    margin-bottom:0px;
    margin-top: 2px;
    margin-left: 20px;
}
.symptomsSubHeading1{
    font-size: 13px;
    color: rgb(56, 54, 54);
    margin-left: 20px;
}
.box-right{
   height: 580px;
    /* border:.5px solid #5A9693; */
    //  margin-right: 60px; 
    background-color: #d1f1ef;
    box-shadow: 5px 5px #e6e4e4;
    border-radius: 5px;
}
.symptom-card-text{
    margin-bottom: 15px;
}

.btn-1{
    margin-top: 446px;
    float:right;
    background-color:grey;
}

.btn-1:hover{
   
    background-color:#097971;
}

// #symptomData ul{
//     line-height: 13px;
    
// }

ul.symptomsDisplay{
    list-style-type: none;
    line-height: 1px;
}

input{
    margin-left: 30px;
    margin-right: 30px;
}

// .symptomsDisplay
.form-group{
    margin-left: 14px;

}

input.form-control{
    width: 80%;
    padding: 1.5px;

}

label.symptomsHeading1{
    margin-bottom:8px;
}

